
/****************
***** MAIN ******
****************/
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 31px;
  background-color: #f9f9f9;
}

.container-fluid {
  max-width: 900px;
  padding-top: 20px;
}

.title {
  color: #335fb7;
  font-family: "Crimson Text", serif;
  font-size: 2em;
}

#title-link:hover {
  text-decoration: none;
}

/****************
***** SEARCH ****
****************/
.main {
  padding: 10px;
}

#search-box {
  height: 35px;
  width: 200px;
}

.form-btns {
  height: 48px;
  width: 48px;
  margin-top: 10px;
}

.fa {
  color: #335fb7;
}

/****************
***** LINKS *****
****************/
.link-div {
  margin-top: 5px;
}

.links {
  display: block;
  height: 100%;
  width: 100%;
  border: solid black;
  color: black;
}

.links:hover {
  border: solid #335fb7;
  color: #335fb7;
  text-decoration: none;
}

.links h3 {
  font-family: "Open Sans", sans-serif;
}

.viewer {
  height: 950px;
  display: none;
}

/****************
***** COPYRIGHT *
****************/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
}
