

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 31px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
}

.container-fluid {
  max-width: 900px;
}

.main {
  padding: 10px;
}

.form-btns {
  height: 48px;
  width: 48px;
  margin-top: 10px;
}

.link-div {
  margin-top: 5px;
}

.links {
  display: block;
  height: 100%;
  width: 100%;
  border: solid black;
  color: black;
}

.links:hover {
  border: solid blue;
  color: blue;
  text-decoration: none;
}

#search-box {
  height: 35px;
  width: 200px;
}
